.label-name {
  color: white;
}
.notification {
  height: 22px;
  width: 20px;
  right: 0;
  position: absolute;
  top: 15px;
}
.card {
  background-color: rgba(48 48 48) !important;
}
.dropdown {
  height: 4px;
  width: 7px;
}

.logo {
  width: 80px;
  height: 20px;
}
.label-name{
  color: white;
  font-size: 15px;
}
.info {
  font-size: 11px;
}
.box{
  height: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  // margin: 5px;
}
.personal {
  background-color: rgb(103 98 246);
}
.emergency {
  background-color: rgb(238 62 58);
  position: absolute;
  right: 20px;
}
.fund-img {
  height: 35px;
  width: 35px;
}
ion-card {
  --background: #F2CD5E;
  --color: #303030;
  border-radius: 0px;
}
ion-icon {
  font-size: 25px;
  margin-right: 2px;
}
.text-bold {
  font-weight: 800;
}
.card-color {
  color: white;
  background-color: #303030;
  border: 1px solid #303030;
  border-radius: 0px;
}
.accordion-heading {
  font-size: 18px;
  padding: 5px;
}
.accordion-subtext {
  font-size: 14px;
  padding: 5px;
}