<ion-content class="app" margin padding>
    <ion-grid class="ion-align-items-center ion-justify-content-center">
        <ion-row class="ion-text-center" margin-bottom>
            <ion-col size="12" class="logo-section ion-text-center">
                <img src="../../assets/icon/logo.png" class="logo" padding />
            </ion-col>
            <ion-col size="12" padding>
                <ion-row margin-top justify-content-center>
                    <ion-label color="light">Where should we send Rs.{{amount}}</ion-label>
                </ion-row>
                <ion-row margin-top justify-content-center>
                    <ion-label color="medium">Select one of these methods</ion-label>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row margin-top justify-content-center>
            <ion-label class="green"> {{name}}</ion-label>
        </ion-row>
        <ion-row margin-top justify-content-center>
            <ion-label color="light"> {{account}}</ion-label>
        </ion-row>
        <ion-button margin-top expand="full" [routerLink]="['/account/', id, amount]"  color="primary">Send to my salary account</ion-button>
        <ion-button margin-top color="light" expand="full" fill="outline" [routerLink]="['/account/', id, amount]"  color="primary">Choose other account or UPI</ion-button>
    </ion-grid>
</ion-content>