<ion-content class="app" margin padding>
    <ion-grid class="ion-align-items-center ion-justify-content-center">
        <ion-row class="ion-text-center" margin-bottom>
            <ion-col size="12" class="logo-section ion-text-center">
                <img src="../../assets/icon/logo.png" class="logo" padding />
            </ion-col>
            <ion-col size="12">
                <img src="../../assets/icon/group19.png" class="onboad-icon" margin />
            </ion-col>
            <ion-col size="12" padding>
                <ion-text color="light">
                    Easily take personal and
                    emergency funds
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-button margin-top expand="full" [routerLink]="['/home/login']" color="primary">Get started</ion-button>
    </ion-grid>
</ion-content>